



@media screen and (min-width:767px) {
   
    .container  {
       display: flex;
       align-items: center;
       margin-left:100px;
      margin-top: 25px;
    }
     .main-container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
     }
     .container p {
        font-size: 12px;
        padding-left: 14px;
        padding-top: 24px;
        opacity: 0.8;

     }
     .images_img {
      width:20%;
   height:220px;
   object-fit:cover;
   object-position:10% 10%;
   border-radius: 20px;
   margin-left: 15px;
     }
     .container_bottom {
      display: -webkit-box;
        margin-left: 100px;
        margin-top: 50px;
        margin-bottom: -220px;
        
     }
   
      .container_bottom p {
         margin-left: 260px;
        font-size: 0.8rem;
        font-style: italic;
     margin: 1rem;
        opacity: 0.9;
            margin-inline: auto;
      }
  .bottom {
    font-style: normal;
  }
}